.App {
  text-align: left;
  display: flex;
  flex: 1;
  color: rgb(156,176,195);
  padding: 20px;
  flex-direction: column;
}
.mainTitle{
  font-size: 30px;
  font-weight: 300;
  margin-left: 10px;
}
.featuresContainer{
  display: flex;
  flex-direction: row;
  height: 30px;
  margin: 5px 0;
  align-items: center;
}
