.main{
    background-color: rgb(37,72,100); 
    height: 150px;
    width: 265px;
    margin: 0.4%;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:1px;
    transition: transform 0.3s;
}
.main:hover{
    transform: scale(1.1); 
}
.upperContainer{
    background-color: rgb(52, 89, 121); 
    margin:0 2px;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.thumbNailImage{
    height: 50px;
    width: 50px;
    border-radius: 30%;
    cursor:pointer;
}
.titleContainer{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90px;
}
.texts{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: calc(100%);
}
.title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(90%);
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: aliceblue;
    margin-bottom: 5px;
}
.id{
    font-weight: 400;
    color: rgb(82, 115, 144);
    font-size: 11px;
}
.bottomContainer{
    height: 22px;
    background-color: rgb(24,51,70);
    width: calc(98%);
    display: flex;
    align-items: center;
    justify-content: left;
    margin:10px;
    border-radius: 2px;
}
.url{
    font-size: 11px;
    color: rgb(82, 115, 144);
    padding: 2px;
}