.searchBar{
    background:transparent;
    border: 1.8px solid rgb(94,130,154);
    border-radius:4px;
    width:200px;
    height:20px;
    color:#6fade6;
    font-size:13px;
    margin-left:10px;
}

.searchBar::placeholder{
    color:rgb(94,130,154);
    opacity:0.7;
    font-size:11px;
    text-align: left;
    padding: 5px;
}
.searchBar:hover{
    border-color:rgb(72, 140, 175);
    color:white;
}
